<%= form_for @idea, url: edit_idea_path do |edit_idea| %>
  <h1>Edit Idea</h1>
  <br>

  <%= edit_idea.text_field :title, placeholder: "Titulo" %>

  <%= edit_idea.text_area :idea, placeholder: "Ideia" %>

  <%= edit_idea.text_field :link, placeholder: "Link" %>

  <%= edit_idea.text_field :github, placeholder: "Github" %><br><br>

  <%= edit_idea.submit "Salvar edições", :class => "btn btn-primary" %>
<% end %>