<div class="message_index_ideas">
  <h1>IDEAS FOR CHANGE THE WORLD</h1>
</div>

<div id="panel_ideas">

<% if current_user %>
<h1 id="title_index_idea">
  <%= image_tag "pen.png" %>
  My Ideas
</h1>

<div class="my_ideas">

  <% @my_ideas.each do |my_ideas| %>

    <div id="ideas">
      <% @user = User.find_by_id(my_ideas.idealizer) %>
      <% @votations = my_ideas.votations %>
      <% @comments = my_ideas.idea_comments.count %>
      <% show_votations %>

      <%= image_tag @user.cover.url(:medium), id: "icon" %>
      <%= link_to "#{my_ideas.title}", show_idea_path(my_ideas.id), id: "title_idea" %>
      <div id="status_idea">
        <p><%= link_to "#{@user.name}", show_user_path(my_ideas.idealizer), id: "idealizer" %></p>
        <%= image_tag "like_icon.png", id: "icon" %> <%= @like %>
        <%= image_tag "unlike_icon.png", id: "icon" %> <%= @nlike %>
        <%= image_tag "comments_icon.png", id: "icon" %> <%= @comments %>
      </div>
      <% @description = my_ideas.idea[0..130] + " ..." %>
      <p id="description" ><%= @description %></p>
    </div>

  <% end %>

</div>

<% end %>

<h1 id="title_index_idea">
  <%= image_tag "search.png" %>
  Others Ideas
</h1>

<div class="others_ideas">
  <% @ideas.reverse.each do |idea| %>

    <div id="ideas">
      <% @user = User.find_by_id(idea.idealizer) %>
      <% @comments = idea.idea_comments.count %>
      <% @votations = idea.votations %>
      <% show_votations %>

      <%= image_tag @user.cover.url(:medium), id: "icon" %>
      <%= link_to "#{idea.title}", show_idea_path(idea.id), id: "title_idea" %>
      <div id="status_idea">
        <p><%= link_to "#{@user.name}", show_user_path(idea.idealizer), id: "idealizer" %></p>
        <%= image_tag "like_icon.png", id: "icon" %> <%= @like %>
        <%= image_tag "unlike_icon.png", id: "icon" %> <%= @nlike %>
        <%= image_tag "comments_icon.png", id: "icon" %> <%= @comments %>
      </div>
      <% @description = idea.idea[0..130] + " ..."%>
      <p id="description"><%= @description %></p>
    </div>
  <% end %>

</div>
</div>