<h1>All Ideas</h1>

<h3>My Ideas</h3>
<% @my_ideas.each do |my_ideas| %>
  <% @user = User.find_by_id(my_ideas.idealizer) %>
  <% @votations = my_ideas.votations %>
  <% @comments = my_ideas.idea_comments.count %>
  <% show_votations %>

  <%= image_tag @user.cover.url(:medium), id: "icon" %>
  <%= link_to "#{@user.name}", show_user_path(my_ideas.idealizer) %>
  <%= link_to "#{my_ideas.title}", show_idea_path(my_ideas.id) %>
  <%= image_tag "like_icon.png", id: "icon" %><%= @like %>
  <%= image_tag "unlike_icon.png", id: "icon" %><%= @nlike %>
  <%= image_tag "comments_icon.png", id: "icon" %><%= @comments %>
  <%= my_ideas.idea %><br>

<% end %>

<h3>Others Ideas</h3>
<% @ideas.reverse.each do |idea| %>

  <% @user = User.find_by_id(idea.idealizer) %>
  <% @comments = idea.idea_comments.count %>
  <% @votations = idea.votations %>
  <% show_votations %>

  <%= image_tag @user.cover.url(:medium), id: "icon" %>
  <%= link_to "#{@user.name}", show_user_path(idea.idealizer) %>
  <%= link_to "#{idea.title}", show_idea_path(idea.id) %>
  <%= image_tag "like_icon.png", id: "icon" %><%= @like %>
  <%= image_tag "unlike_icon.png", id: "icon" %><%= @nlike %>
  <%= image_tag "comments_icon.png", id: "icon" %><%= @comments %>
  <%= idea.idea %>

  <br>
<% end %>
