<h1>New Idea</h1>

<%= form_for @idea, url: new_idea_path do |new_idea| %>
  <%= new_idea.label :title %>
  <%= new_idea.text_field :title %>

  <%= new_idea.label :idea %>
  <%= new_idea.text_field :idea %>

  <%= new_idea.label :link %>
  <%= new_idea.text_field :link %>

  <%= new_idea.label :github %>
  <%= new_idea.text_field :github %>

  <%= new_idea.submit %>
<% end %>