<h1>Title: <%= @idea.title %></h1>

<p>Idea: <%= @idea.idea %></p>
<p>
  <% show_votations %>

  <%= link_to (image_tag 'like_icon.png', id: 'icon'), votation_like_path(@idea.id) %><%= @like %>
  <%= link_to (image_tag 'unlike_icon.png', id: 'icon'), votation_nlike_path(@idea.id) %><%= @nlike %>
</p>
<p>Idealizer: <%= @user.name %></p>
<p>Link: <%= link_to "#{@idea.link}", @idea.link %></p>
<p>Github: <%= link_to "Github", @idea.github %></p>
<p><%= image_tag @user.cover.url(:medium) %></p>
<p>

  <% show_collaborators %>
  <p><%= @show_collaborators %></p>

  <% show_settings %>
  <p><%= @settings %></p>

  <% @collaborators.each do |collaborators| %>
    <% @user = User.find_by_id(collaborators.id_user) %>
    <% @approvation = collaborators %>
    <% show_approvation %>
    <%= @collaborator %>
    <br>
  <% end %> 
</p>

<div id="comments">
  <%= form_for @new_comment, url: show_idea_path do |new_comment| %>
    <%= new_comment.label :comment, "Send a comment"  %><br>
    <%= new_comment.text_area :comment, style: "width: 350px; height: 100px;" %><br>

    <%= new_comment.submit "Send", :class => "btn btn-primary" %>
  <% end %>

<% @comments.reverse.each do |comments| %>
  <div id="comment">
    <p>By: 
      <b><%= User.find_by_id(comments.id_user).name %></b><br>
      <p><%= comments.comment %></p>
    </p>
  </div>
<% end %>
</div>