<div id="body" style="top: 100px; padding: 60px; padding-top: 20px; z-index: 2; ">

  <h1 id="user_perfil">
    <%= image_tag @user.cover.url(:medium), style: "width:125px; height:125px; border-radius: 200px; border: 2px solid rgba(0,0,0,0.5); padding: 2px; position:relative;background-color: rgb(200,200,200); float: left;" %>
    <spawn class="name_user_perfil"><%= @idea.title %></spawn>
  </h1>

  <div class="data" style="position:relative; top: 10px;">
    <h3>Idea:</h3>
      <p><%= @idea.idea %></p>

    <h3>Likes:</h3>
      <p>
        <% show_votations %>

        <%= link_to (image_tag 'like_icon.png', id: 'icon'), votation_like_path(@idea.id) %><%= @like %>
        <%= link_to (image_tag 'unlike_icon.png', id: 'icon'), votation_nlike_path(@idea.id) %><%= @nlike %>
      </p>

    <h3>Idealizer:</h3>
      <p><%= link_to @user.name, show_user_path(@user.id) %></p>

    <h3>Link:</h3>
      <p><%= link_to "#{@idea.link}", @idea.link %></p>

    <h3>GitHub: </h3>
      <p><%= link_to "Github", @idea.github %></p>

    <h3>Collaborators:</h3>
      <% show_collaborators %>
      <p><%= @show_collaborators %></p>  
      <p>    
        <% @collaborators.each do |collaborators| %>
          <% @user = User.find_by_id(collaborators.id_user) %>
          <% @approvation = collaborators %>
          <% show_approvation %>
          <%= @collaborator %><br>
        <% end %> 
      </p>

    <h3>Settings</h3>
      <% show_settings %>
      <%= "idealizador 22 #{@teste}" %>
      <%= "usuario logado #{current_user.id}" %>
      <p><%= @settings %></p>
</div>

<div id="comments" style="" >
  <%= form_for @new_comment, url: show_idea_path do |new_comment| %>
    <%= new_comment.label :comment, "Send a comment"  %><br>
    <%= new_comment.text_area :comment, style: "width: 350px; height: 100px;" %><br>

    <%= new_comment.submit "Send", :class => "btn btn-primary" %>
  <% end %>

<% @comments.reverse.each do |comments| %>
  <div id="comment">
    <p>By: 
      <b><%= User.find_by_id(comments.id_user).name %></b><br>
      <p><%= comments.comment %></p>
    </p>
  </div>
<% end %>
</div>
</div>