<div class="jumbotron jb-header" id="jb-header" style="height: 90%; color: white;">
  <h1 style="">Sua Ideia vale ouro ! </h1>
  <p>
    Aqui, sua ideia é o maior tesouto, e pode ajudar a vida de muitas pessoas.
  </p>
  <%= image_tag "http://icons.iconarchive.com/icons/pixelkit/flat-jewels/256/Lamp-icon.png", width: "150px;" %><br><br>
  <a class="btn btn-primary btn-lg" role="button" href="#learn-more" style="transition: all 1s ease-in-out;">Leia mais</a>
</div>

<div id="body">

<div class="row" id="learn-more" style="margin: 0 auto; text-align:center;transition: all 1s ease-in-out;" >
  <h1><b>COMO FUNCIONA</b></h1>

  <br><br>

  <div class="col-sm-6 col-md-4", style="margin-right: -9%;">
    <div class="thumbnail" style="width: 250px; text-align:center">
      <%= image_tag "lamp.png" %>
      <div class="caption">
        <h3>1° Passo</h3>
        <p>Você tem a ideia que pode mudar o mundo</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4", style="margin-right: -9%;">
    <div class="thumbnail" style="width: 250px; text-align:center">
      <%= image_tag "presentation.png" %>
      <div class="caption">
        <h3>2° Passo</h3>
        <p>Você apresenta sua ideia para pessoas dispostas a ajudar</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4", style="margin-right: -9%;">
    <div class="thumbnail" style="width: 250px; text-align:center">
      <%= image_tag "medal.png" %>
      <div class="caption">
        <h3>3° Passo</h3>
        <p>Sua ideia começa a crescer a receber avaliações</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4", style="margin-right: -9%;">
    <div class="thumbnail" style="width: 250px; text-align:center">
      <%= image_tag "present.png" %>
      <div class="caption">
        <h3>4° Passo</h3>
        <p>Com o projeto pronto, é hora de mudar o mundo!</p>
      </div>
    </div>
  </div>

</div>
<br><br><br>

<div class="jumbotron sky">
  <h1>Um mundo de oportunidades</h1>
</div>


<div class="row" style="text-align:center; width: 1000px; margin: 0 auto;">
  <h1>NOVOS IDEALIZADORES</h1>
  <br>
  <% @show_idealizers = 0 %>
  <% @users_array.reverse.each do |array| %>
  <% @users.each do |users| %>

    <% if users.id == array.id && 
        users.ideas.blank? == false && 
        @show_idealizers< 10 %>

        <div class="col-sm-6 col-md-4" style="width:200px; height:227px;; border: none; margin: 0 auto;" >
          <div class="thumbnail" style="border: none;">
            <%= image_tag array.cover.url(:medium), style: "width:125px; height:125px; border-radius: 200px; border: 2px solid rgba(0,0,0,0.5); padding: 2px;" %>
            <div class="caption" >
              <h3><%= array.name %></h3>
            </div>
          </div>
        </div>
        <% @show_idealizers = @show_idealizers + 1 %>

    <% end %>

  <% end %>
  <% end %>
</div>

<div class="jumbotron idea" >
  <h1>Você tem uma ideia?</h1><br>
   <p><a class="btn btn-primary btn-lg" role="button" href="user/new">Vamos lá!</a></p>
</div>

</div>