<ul>
<% show_errors(@user).each do |error| %>
    <li><%= error %></li>
<% end %>
</ul>

<%= form_for @user, :class => "form-horizontal", url: new_user_path do |new_user| %>
	<h1>New user</h1><br><br>

	<%= new_user.text_field :name, placeholder: "Name" %><br>

	<%= new_user.text_field :email, placeholder: "E-mail" %><br>

	<%= new_user.password_field :password, placeholder: "Password" %><br>

	<%= new_user.password_field :password_confirmation, placeholder: "Password confirmation" %><br>
	<br>
	<%= label_tag "Picture" %>
	<%= new_user.file_field :cover %><br>

	<%= new_user.submit :class => "btn btn-primary" %>
<% end %>