<!DOCTYPE html>
<html>
<head>
  <title>GroupIdeas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><%= flash[:notice] %></p>

<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Ideas", ideas_path %>
  <%= nav %>
</nav>

<%= yield %>

</body>
</html>
